*{
    margin: 0;
    padding: 0;
}

body{
    width: 1000px;
    font: 15px 'Calibri Light', 'Verdana', sans-serif;
    color: #191923;
    background-color: #ffffff;
}

main{
    border: 1px solid  #a5b2b3;
    margin: 50px 20px 10px 170px;
    width: 1000px;
}

main article{
    width: 240px;
    float: left;
}

main article{
    padding: 5px;
}

main article:hover{
    opacity: 0.7;
    cursor: pointer;
}

main article img{
    width: 244px;
    height: 194px;
    padding-bottom: 15px;
}
main article h1 {
    padding: 20px;
    text-align: center;
}

main article p {
    text-align: justify;
}
main article a {
    text-decoration: none;
    color: #000000;
}

