.main-nav{
    display: inline-block;
}

ul li {
    padding: 16px;
}

nav{
    background: #e67c1f;
}

body{
    background-color: #1d211e;
    color: #ffffff;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: #ffffff;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inline-block;
    background: #e67c1f;
    list-style: none;
}
.zero-drop-down{
    padding: 10px;
}

.second-drop-down {
    padding: 10px;
    margin-left: 28px;
    top: 100px;
}

.zero-drop-down li:hover{
    background-color: #000000;
    color: #ffffff;
}

.second-drop-down li:hover {
    background-color: #000000;
    color: #ffffff;
}